body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(30,10,73,1) 39%); 
}

.barraDeNavegação {
    background: black;
    height: 100px;
    margin-top: -8px;
}